.article-list {
}

.article-list__item {
  position: relative;
  margin-bottom: 20px;
}

.article__title {
  display: block;
  @include hover-effect(0.6);
  margin-top: 10px;
  margin-bottom: 10px;
}

.artile__read-btns {
  text-decoration: underline;
}
