{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  // インストールしたESlintプラグインを有効化
  "plugins": [
    "react"
  ],
  // 環境設定
  // 各環境でデフォルトで使用できるグローバルオブジェクトなどを未定義エラーとしないようにする
  // 例： "browser": true とすれば、windowオブジェクトが変数未定義のエラーにならない
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "max-len": [2, 120],
    "semi": [2, "never"],
    // インデント2スペース: error
    "indent": [2, 2],
    // 未使用変数: warn
    "no-unused-vars": 1,
    // consoleオブジェクトの使用: warn
    "no-console": 1,
    // 引数が1つの場合は括弧省略可
    "arrow-parens": [2, "as-needed"],
    // ビット演算子: "<<", ">>"のみ使用可
    "no-bitwise": [2, { "allow": ["<<", ">>"] }],
    // Curly brace"{","}"と要素の間にスペースが必須: error
    "object-curly-spacing": [2, "always"],
    // 行末のスペース: error
    "no-trailing-spaces": 2,
    // ファイル末尾の改行: error
    "eol-last": 2,
    // if, forでは中括弧を必ず使用する
    "curly": 2,
    // ブロックの括弧関連
    "brace-style": 2,
    "space-before-blocks": 2,
    "keyword-spacing": 2,
    "padded-blocks": [2, "never"],
    // reactコンポーネントでpropsはpropTypesで型を定義する必要があるように
    "react/prop-types": 2,
    // Prevent React to be incorrectly marked as unused
    "react/jsx-uses-react": 2,
    // Prevent variables used in JSX to be incorrectly marked as unused
    "react/jsx-uses-vars": 2
  }
}
