@import "../layouts/mixins.css";
@import "../layouts/variables.css";

.article {
  padding: 10px 10px 0 10px;
}

.articleList {
  padding-top: 15px;
  margin-bottom: var(--mb-l);

  & li, & ul, & ol {
    margin-bottom: 0;
  };
}

.articleListItem {
  position: relative;
  margin-bottom: 20px;
}

.articleTitle {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--color-strong);
}

.articleAbstract {
  margin-bottom: 0;
}

.artile__read-btns {
  text-decoration: underline;
}

.articleBioWrapper {
  @apply --center;
  max-width: 450px;
  margin-bottom: var(--mb-l);
}
