@import "../layouts/variables.scss";

.articleTagLinkList {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;

  & .articleTagIcon {
    margin: 0;
  }
}

.articleTagLinkWrapper {
  margin-left: var(--mxxs);
}

.articleTag {
  color: #e53935;
  background: #ffebee;
  border-radius: 3px;
  padding: 0.2em 0.3em;
  font-size: 12px;
}
