
* {
  list-style: none;
  vertical-align: baseline;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 2rem;
}

body {
  margin: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}

/* TypographyJS Reset */
@media only screen and (max-width: 480px) {
  ul, ol {
    margin-left: 0;
  }
}
